/*
$input-btn-padding-y:         12px;
$input-btn-padding-x:         24px;
$input-btn-line-height:       1.45;
$input-btn-font-size:         17px;

$input-padding-y:             $input-btn-padding-y;
$input-padding-x:             $input-btn-padding-x;
$input-line-height:           $input-btn-line-height;

$input-border-color: #979797;

$btn-padding-y:               $input-btn-padding-y;
$btn-padding-x:               $input-btn-padding-x;
$btn-line-height:             $input-btn-line-height;

$form-group-margin-bottom: 30px;
*/
