$body-color:                  #4A4A4A;

$font-family-base:            'Roboto';
$font-weight-base:            $font-weight-light;
$line-height-base:            1.55;

$headings-font-family:        'Roboto';
$headings-font-weight:        700;
$headings-line-height:        1.25;
$headings-color:              #4A4A4A;

$font-family-content:         'Frank Ruhl Libre';
